<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>PayMyBuddy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../static/core.css" rel="stylesheet" media="screen" th:href="@{../../static/core.css}">
</head>
<body>
<div class="container">
    <header class="logged-header">
        <nav class="navbar justify-content-between px-0">
            <a class="navbar-brand m-0" href="/homepage" th:href="@{/homepage}">Pay My Buddy</a>
            <ul class="nav main-menu justify-content-end">
                <li class="nav-item">
                    <a href="#" href="/homepage" th:href="@{/homepage}" title="Home">Home</a>
                </li>
                <li class="nav-item active dropdown">
                    <span class="dropdown-toggle dropdown-toggle"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                        Transfers
                    </span>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="/internalTransfer"
                           th:href="@{/internalTransfer}"
                           th:classappend="${module == 'internalTransfer' ? 'active' : ''}">
                            Internal transfers
                        </a>
                        <a class="dropdown-item"
                           href="/externalTransfer"
                           th:href="@{/externalTransfer}"
                           th:classappend="${module == 'externalTransfer' ? 'active' : ''}">
                            External transfers
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" th:href="@{/}" title="Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" th:href="@{/}" title="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="logout float-right" th:fragment="logout" sec:authorize="isAuthenticated()">
        <p>Logged in: <span sec:authentication="name"></span>
    </div>
    Home page!
</div>
</body>
</html>