<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Pay My Buddy - Profile</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}">
</head>
<body>
<div class="container">
  <header class="logged-header">
    <nav class="navbar justify-content-between px-0">
      <a class="navbar-brand m-0" th:href="@{/user/index}">Pay My Buddy</a>
      <ul class="nav main-menu justify-content-end">
        <li class="nav-item">
          <a th:href="@{/user/index}" title="Home">Home</a>
        </li>
        <li class="nav-item dropdown">
            <span class="dropdown-toggle dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Transfers
            </span>
          <div class="dropdown-menu">
            <a class="dropdown-item"
               th:href="@{/user/internalTransfer}"
               th:classappend="${module == 'internalTransfer' ? 'active' : ''}">
              Internal transfers
            </a>
            <a class="dropdown-item"
               th:href="@{/user/externalTransfer}"
               th:classappend="${module == 'externalTransfer' ? 'active' : ''}">
              External transfers
            </a>
          </div>
        </li>
        <li class="nav-item active">
          Profile
        </li>
        <li class="nav-item">
          <a th:href="@{/user/contact}" title="Contact">Contact</a>
        </li>
        <li class="nav-item">
          <form th:action="@{/logout}" method="post">
            <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a th:href="@{/user/index}" title="Home">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Profile
        </li>
      </ol>
    </nav>
    <div class="container w-75">
      <h1 class="mb-4">Profile</h1>
      <h2 th:text="${user.firstName} + ' ' +${user.lastName}">User</h2>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
            <span class="material-icons">person</span> Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="bank-tab" data-toggle="tab" href="#bank" role="tab" aria-controls="bank" aria-selected="false">
            <span class="material-icons">account_balance</span> Bank accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">
            <span class="material-icons">people_alt</span> Friends
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content mt-3" id="v-pills-tabContent"> <!--show active-->
        <div class="tab-pane show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <form>
            <div class="form-group">
              <label for="firstName">First name</label>
              <div class="input-group mb-2">
                <input type="text"
                       class="form-control"
                       id="firstName"
                       name="firstName"
                       th:value="${user.firstName}"
                       required>
              </div>
            </div>
            <div class="form-group">
              <label for="lastName">Last name</label>
              <div class="input-group mb-2">
                <input type="text"
                       class="form-control"
                       id="lastName"
                       name="lastName"
                       th:value="${user.lastName}"
                       required>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <div class="input-group mb-2">
                <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       placeholder="Email"
                       th:value="${user.email}"
                       required>
              </div>
            </div>
            <div class="border border-secondary rounded p-3 mt-2">
              <div class="form-group">
                <label for="password">New password</label>
                <div class="input-group mb-2">
                  <input type="password"
                         class="form-control"
                         id="password"
                         name="password"
                         placeholder="Password"
                         required>
                </div>
              </div>
              <div class="form-group">
                <label for="passwordRe">Repeat password</label>
                <div class="input-group mb-2">
                  <input type="password"
                         class="form-control"
                         id="passwordRe"
                         name="passwordRe"
                         placeholder="Password"
                         required>
                </div>
              </div>
            </div>

            <button type="submit"
                    id="profileButton"
                    class="btn btn-primary mt-4">
              Save changes
            </button>
          </form>
        </div>
        <div class="tab-pane" id="bank" role="tabpanel" aria-labelledby="bank-tab">
          <h3>My bank accounts</h3>
          <ul class="list-group list-group-flush">
            <li th:each="bank : ${bank}" class="list-group-item d-flex justify-content-between align-items-center">
              <p th:text="${bank.iban}">Iban</p>
              <a th:href="@{/user/profile/deleteBankAccount/{id}(id=${bank.id})}"
                      class="btn btn-link">
                <span class="material-icons">delete</span>
              </a>
            </li>
          </ul>

          <h3>Add a new bank account</h3>
          <form th:action="@{/user/profile/addBankAccount/}" th:object="${newBankAccount}" method="post">
            <div class="form-group">
              <label for="iban">Iban</label>
              <input type="text"
                     class="form-control"
                     id="iban"
                     name="iban"
                     placeholder="FR XX XXXX XXXXXX XXXXXXXX">
            </div>
            <div class="form-group">
              <label for="swift">Swift</label>
              <input type="text"
                     class="form-control"
                     id="swift"
                     name="swift"
                     placeholder="XXXX XX XX XXX">
            </div>
            <div class="form-group">
              <label for="credentials">Credentials</label>
              <input type="text"
                     class="form-control"
                     id="credentials"
                     name="credentials"
                     placeholder="Full name">
            </div>

            <button type="submit"
                    class="btn btn-primary"
                    id="bankAddButton">
              Add bank account
            </button>
          </form>
        </div>
        <div class="tab-pane" id="friends" role="tabpanel" aria-labelledby="friends-tab">...</div>
      </div>
    </div>
  </main>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>