<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="notSignedIn" class="login-header">
    <nav class="navbar justify-content-center">
        <h1 class="navbar-brand m-0"><span>Pay My Buddy</span></h1>
    </nav>
</header>

<header th:fragment="signedIn" class="logged-header">
    <nav class="navbar justify-content-between px-0">
        <h1 class="navbar-brand m-0">
            <a href="#" th:href="@{/}">Pay My Buddy</a>
        </h1>
        <ul class="nav main-menu justify-content-end">
            <li class="nav-item">
                <a href="#" th:href="@{/}" title="Home">Home</a>
            </li>
            <li class="nav-item active" th:classappend="${module == 'Transfer' ? 'active' : ''}">
                Transfers
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/}" title="Profile">Profile</a>
            </li>
            <li class="nav-item">
                <a href="#" th:href="@{/}" title="Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a href="/logout" th:href="@{#}" onclick="$('#form').submit();" title="Log off">Log off</a>
            </li>
        </ul>
    </nav>
</header>

<nav th:fragment="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#" title="Home">Home</a>
        </li>
        <li class="breadcrumb-item">
            Transfers
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:classappend="${module == 'internalTransfer' ? 'active' : ''}">
            Internal transfers
        </li>
    </ol>
</nav>
</body>
</html>