<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
    <header class="logged-header">
        <nav class="navbar justify-content-between px-0">
            <a class="navbar-brand m-0" th:href="@{/user/index}">Pay My Buddy</a>
            <ul class="nav main-menu justify-content-end">
                <li class="nav-item">
                    <a th:href="@{/user/index}" title="Home">Home</a>
                </li>
                <li class="nav-item active dropdown">
                    <span class="dropdown-toggle dropdown-toggle"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                        Transfers
                    </span>
                    <div class="dropdown-menu">
                        <a th:if="${module == 'internalTransfer'}"
                           class="dropdown-item"
                           th:href="@{/user/internalTransfer}"
                           th:classappend="${module == 'internalTransfer' ? 'active' : ''}">
                            Internal transfers
                        </a>
                        <span th:if="${module != 'internalTransfer'}"
                              class="dropdown-item active">Internal transfers</span>

                        <a th:if="${module == 'externalTransfer'}"
                           class="dropdown-item"
                           th:href="@{/user/externalTransfer}"
                           th:classappend="${module == 'externalTransfer' ? 'active' : ''}">
                            Internal transfers
                        </a>
                        <span th:if="${module != 'externalTransfer'}"
                              class="dropdown-item active">
                            External transfers
                        </span>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" th:href="@{/user/profile}" title="Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" th:href="@{/user/contact}" title="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
</th:block>
</body>
</html>