html, body {
    height: 100%;
}
.px-6 { padding: .375rem 3rem; }

/* Pay My Buddy brand */
.navbar-brand {
    border:1px solid #77a809;
    color:#fff;
    border-radius:6px;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    text-shadow: 0px -1px 0px #5b6178;
    background:linear-gradient(#89c403, #77a809);
    padding: .5em 1em;
    margin: .5em;
}
.navbar-brand:hover {
    color: #fff;
    background: linear-gradient(#77a809, #89c403);
    text-decoration: none;
}

/* Custom styles */
/* -- Header */
.login-header { margin-bottom: 2em; }
.logged-header .navbar-brand a { margin: 0; }
.breadcrumb { border-radius: 0; }
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* -- Menu */
.main-menu li { margin: 0 .5em; }
.main-menu a { color: #212529; }
.main-menu li.active { color: #007bff; }
.main-menu li:hover .dropdown-toggle {
    cursor: pointer;
    text-decoration: underline;
}

/* -- Forms */
/* ---- Login */
.login-form .input-group-text { background: none; }
.login-form .form-control { border-left: 0; }
/* ---- Transfer */
.transfer-form { background: #e9ecef; }
.btn-secondary { background: #28a745; }

/* -- Tables */
.table thead {
    background: #28a745;
    color: #fff;
}

/* -- Home */
.icon-square {
  border-radius: .75rem;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
}
.text-bg-light {
    background-color: RGBA(248,249,250,var(--bs-bg-opacity,1)) !important;
}