<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="login">
    <h1>PayMyBuddy</h1>
</header>

<header th:fragment="navigation">
    <h1>PayMyBuddy</h1>
    <nav class="main">
        <ul>
            <li>
                <a href="#" title="Home">Home</a>
                <a href="#" title="Transfer">Transfer</a>
                <a href="#" title="Profile">Profile</a>
                <a href="#" title="Contact">Contact</a>
                <a href="#" title="Log off">Log off</a>
            </li>
        </ul>
    </nav>
    <nav class="breadcrumbs">
        <ul>
            <li>
                <a href="#" title="Home">Home</a>
                <a href="#" title="Transfer">Transfer</a>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>