<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pay My Buddy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/core.css" rel="stylesheet" media="screen" th:href="@{/static/core.css}">
</head>
<body>
<div class="d-flex container h-100 justify-content-center align-items-center">
    <div class="border rounded text-center p-4">
        <!--<header th:replace="../fragments/header :: notSignedIn"></header>-->
        <header class="login-header">
            <nav class="navbar justify-content-center">
                <h1 class="navbar-brand m-0"><span>Pay My Buddy</span></h1>
            </nav>
        </header>

        <main>
            <form class="login-form" action="#" method="post" th:action="@{/authenticate}">
                <div class="form-group">
                    <label for="inputEmail" hidden>Email</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons">email</span>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" hidden>Password</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="material-icons">password</span>
                            </div>
                        </div>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-check pb-4">
                    <input type="checkbox" name="_spring_security_remember_me" />
                    <label>Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary w-50">Login</button>
            </form>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>