<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Pay My Buddy - Register</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}">
</head>
<body>
<div class="d-flex container h-100 justify-content-center align-items-center">
    <div class="border rounded text-center p-4">
        <header class="login-header">
            <nav class="navbar justify-content-center">
                <span class="navbar-brand m-0">Pay My Buddy</span>
            </nav>
        </header>

        <main>
            <form class="text-left" th:action="@{/register/create/}" th:object="${newUser}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <div class="input-group mb-2">
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               name="firstName"
                               required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <div class="input-group mb-2">
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               name="lastName"
                               required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <div class="input-group mb-2">
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="email"
                               placeholder="username@email.com"
                               required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group mb-2">
                        <input type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               placeholder="Password"
                               required autofocus>
                    </div>
                </div>
                <div class="pb-4">
                    <a th:href="@{/login}">Do you have an account? <strong>Login</strong></a>
                </div>
                <button type="submit" class="btn btn-primary w-50 mt-4">Sign in</button>
            </form>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>